.aceeditor{
  height: 200px;
  width: 100%;
  /* background-color: rgb(5, 28, 31); */
  /* color: azure; */
}

.textarea{
  border-radius: 0.80em;
  background-color: rgb(38, 46, 53);
  color: rgb(255, 255, 255);
  font-weight: 8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.output{
  /* padding:20px 30px; */
  color: rgb(7, 7, 2);
  /* height: 20em;
  width: 10em; */
  border-radius: 2%
}
.output pre{
  font-size:13pt;
}

